# App
APP_NAME=mind-alcove-ai-backend
ENV=development # development | staging | production (used for health api)
DEBUG=true # Set to false in production to disable Swagger docs and tracebacks

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_name # same db as with laravel
DB_USER=db_username
DB_PASSWORD=db_password

# Google GenAI
GOOGLE_API_KEY=your_google_api_key_here

# Security
SECRET_KEY=9Yp8Lk2... # provide a strong self generated secret key
S2S_TOKEN_TTL=300 # security token ttl in seconds for laravel -> fastapi communication

# Langsmith
LANGSMITH_TRACING=false # Set true only if to send AI calling traces to Langsmith dashboard for monitoring.
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt_...
LANGSMITH_PROJECT=MindAlcove

# Laravel Service
LARAVEL_BASE_URL=https://mindalcove.yourcloudnetwork.net # Laravel service base url for internal server to server communication

# Logging
LOG_DIR=logs  # The directory where application logs file will be stored inside the container
LOG_ROTATION=00:00  # Rotates log file daily at midnight
LOG_RETENTION=15 days  # Purges logs older than 15 days to save disk space
LOG_LEVEL=INFO # DEBUG | INFO | WARNING | ERROR

# Server
WORKERS=4 # Formula: (2 x CPU Cores) + 1. Example: 2 cores = 5 workers.
